

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked+#menu {
    display: block;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

.content {
    background-color: beige
}

.settings-list>li {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;

}

.settings-list>li:hover {
    color: black
}

